/be-project/.phpunit.cache
/be-project/node_modules
/be-project/public/build
/be-project/public/hot
/be-project/public/storage
/be-project/storage/*.key
/be-project/vendor
/be-project/.env
/be-project/.env.backup
/be-project/.env.production
/be-project/.phpunit.result.cache
/be-project/Homestead.json
/be-project/Homestead.yaml
/be-project/auth.json
/be-project/npm-debug.log
/be-project/yarn-error.log
/be-project/.fleet
/be-project/.idea
/be-project/.vscode

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/fe-project/node_modules
/fe-project/.pnp
/fe-project/coverage
/fe-project/build
/fe-project/.idea
/fe-project/.pnp.js
/fe-project/.DS_Store
/fe-project/.env.local
/fe-project/.env.development.local
/fe-project/.env.test.local
/fe-project/.env.production.local
/fe-project/npm-debug.log*
/fe-project/yarn-debug.log*
/fe-project/yarn-error.log*

/.idea
